Source: shadowsocks-libev
Section: net
Priority: extra
Maintainer: Max Lv <max.c.lv@gmail.com>
Build-Depends: debhelper (>= 9), dh-systemd (>= 1.5), pkg-config, libpolarssl-dev (>= 1.2.5), autotools-dev, mime-support, gawk
Standards-Version: 3.9.6
Homepage: http://www.shadowsocks.org
Vcs-Git: https://github.com/shadowsocks/shadowsocks-libev.git
Vcs-Browser: https://github.com/shadowsocks/shadowsocks-libev

Package: shadowsocks-libev
Replaces: shadowsocks (<< 1.5.3-2)
Breaks: shadowsocks (<< 1.5.3-2)
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Lightweight and secure socks5 proxy.
 Shadowsocks-libev is a lightweight and secure socks5 proxy for
 embedded devices and low end boxes.
